In [3]:
#1
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df= pd.read_csv('we_fn_use_c_marketing_customer_value_analysis.csv')

In [5]:
df.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [6]:
#2  Find  all of the categorical data.  Save it in a categorical_df variable.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer                       9134 non-null   object
 1   State                          9134 non-null   object
 2   Customer Lifetime Value        9134 non-null   float64
 3   Response                       9134 non-null   object
 4   Coverage                       9134 non-null   object
 5   Education                      9134 non-null   object
 6   Effective To Date              9134 non-null   object
 7   EmploymentStatus               9134 non-null   object
 8   Gender                         9134 non-null   object
 9   Income                         9134 non-null   int64
 10  Location Code                  9134 non-null   object
 11  Marital Status                 9134 non-null   object
 12  Monthly Premium Auto           9134 non-null   int64
 13  Months Since Last Claim        9134 non-null   int64
 14  Months Since Policy Inception  9134 non-null   int64
 15  Number of Open Complaints      9134 non-null   int64
 16  Number of Policies             9134 non-null   int64
 17  Policy Type                    9134 non-null   object
 18  Policy                         9134 non-null   object
 19  Renew Offer Type               9134 non-null   object
 20  Sales Channel                  9134 non-null   object
 21  Total Claim Amount             9134 non-null   float64
 22  Vehicle Class                  9134 non-null   object
 23  Vehicle Size                   9134 non-null   object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.7+ MB

In [7]:
categorical_df = df.select_dtypes(object)
categorical_df.head()

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize

In [8]:
#3
categorical_df.isnull().sum()/categorical_df.shape[0]

Customer             0.0
State                0.0
Response             0.0
Coverage             0.0
Education            0.0
Effective To Date    0.0
EmploymentStatus     0.0
Gender               0.0
Location Code        0.0
Marital Status       0.0
Policy Type          0.0
Policy               0.0
Renew Offer Type     0.0
Sales Channel        0.0
Vehicle Class        0.0
Vehicle Size         0.0
dtype: float64

In [9]:
#4
print(categorical_df)

     Customer       State Response  Coverage Education Effective To Date  \
0     BU79786  Washington       No     Basic  Bachelor           2/24/11
1     QZ44356     Arizona       No  Extended  Bachelor           1/31/11
2     AI49188      Nevada       No   Premium  Bachelor           2/19/11
3     WW63253  California       No     Basic  Bachelor           1/20/11
4     HB64268  Washington       No     Basic  Bachelor            2/3/11
...       ...         ...      ...       ...       ...               ...
9129  LA72316  California       No     Basic  Bachelor           2/10/11
9130  PK87824  California      Yes  Extended   College           2/12/11
9131  TD14365  California       No  Extended  Bachelor            2/6/11
9132  UP19263  California       No  Extended   College            2/3/11
9133  Y167826  California       No  Extended   College           2/14/11

     EmploymentStatus Gender Location Code Marital Status     Policy Type  \
0            Employed      F      Suburban        Married  Corporate Auto
1          Unemployed      F      Suburban         Single   Personal Auto
2            Employed      F      Suburban        Married   Personal Auto
3          Unemployed      M      Suburban        Married  Corporate Auto
4            Employed      M         Rural         Single   Personal Auto
...               ...    ...           ...            ...             ...
9129         Employed      M         Urban        Married   Personal Auto
9130         Employed      F      Suburban       Divorced  Corporate Auto
9131       Unemployed      M      Suburban         Single  Corporate Auto
9132         Employed      M      Suburban        Married   Personal Auto
9133       Unemployed      M      Suburban         Single  Corporate Auto

            Policy Renew Offer Type Sales Channel  Vehicle Class Vehicle Size
0     Corporate L3           Offer1         Agent   Two-Door Car      Medsize
1      Personal L3           Offer3         Agent  Four-Door Car      Medsize
2      Personal L3           Offer1         Agent   Two-Door Car      Medsize
3     Corporate L2           Offer1   Call Center            SUV      Medsize
4      Personal L1           Offer1         Agent  Four-Door Car      Medsize
...            ...              ...           ...            ...          ...
9129   Personal L1           Offer2           Web  Four-Door Car      Medsize
9130  Corporate L3           Offer1        Branch  Four-Door Car      Medsize
9131  Corporate L2           Offer1        Branch  Four-Door Car      Medsize
9132   Personal L2           Offer3        Branch  Four-Door Car        Large
9133  Corporate L3           Offer4   Call Center   Two-Door Car      Medsize

[9134 rows x 16 columns]

In [10]:
list_cat=list(categorical_df.columns.values)
list_cat

['Customer',
 'State',
 'Response',
 'Coverage',
 'Education',
 'Effective To Date',
 'EmploymentStatus',
 'Gender',
 'Location Code',
 'Marital Status',
 'Policy Type',
 'Policy',
 'Renew Offer Type',
 'Sales Channel',
 'Vehicle Class',
 'Vehicle Size']

In [11]:
column_values=categorical_df[['State',
 'Response',
 'Coverage',
 'Education',
 'EmploymentStatus',
 'Gender',
 'Location Code',
 'Marital Status',
 'Policy Type',
 'Policy',
 'Renew Offer Type',
 'Sales Channel',
 'Vehicle Class',
 'Vehicle Size']].values
df2 = np.unique(column_values)
display(df2)

array(['Agent', 'Arizona', 'Bachelor', 'Basic', 'Branch', 'California',
       'Call Center', 'College', 'Corporate Auto', 'Corporate L1',
       'Corporate L2', 'Corporate L3', 'Disabled', 'Divorced', 'Doctor',
       'Employed', 'Extended', 'F', 'Four-Door Car',
       'High School or Below', 'Large', 'Luxury Car', 'Luxury SUV', 'M',
       'Married', 'Master', 'Medical Leave', 'Medsize', 'Nevada', 'No',
       'Offer1', 'Offer2', 'Offer3', 'Offer4', 'Oregon', 'Personal Auto',
       'Personal L1', 'Personal L2', 'Personal L3', 'Premium', 'Retired',
       'Rural', 'SUV', 'Single', 'Small', 'Special Auto', 'Special L1',
       'Special L2', 'Special L3', 'Sports Car', 'Suburban',
       'Two-Door Car', 'Unemployed', 'Urban', 'Washington', 'Web', 'Yes'],
      dtype=object)

In [12]:
# 5. Check dtypes. Do they all make sense as categorical data?

In [13]:
categorical_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer           9134 non-null   object
 1   State              9134 non-null   object
 2   Response           9134 non-null   object
 3   Coverage           9134 non-null   object
 4   Education          9134 non-null   object
 5   Effective To Date  9134 non-null   object
 6   EmploymentStatus   9134 non-null   object
 7   Gender             9134 non-null   object
 8   Location Code      9134 non-null   object
 9   Marital Status     9134 non-null   object
 10  Policy Type        9134 non-null   object
 11  Policy             9134 non-null   object
 12  Renew Offer Type   9134 non-null   object
 13  Sales Channel      9134 non-null   object
 14  Vehicle Class      9134 non-null   object
 15  Vehicle Size       9134 non-null   object
dtypes: object(16)
memory usage: 1.1+ MB

In [14]:
# No, for example Effective to date column that we changed last lab, or customer id

In [15]:
 #6 Does any column contain alpha and numeric data?  Decide how to clean it.

In [16]:
# customer and policy. I would drop customer, for policy I will keep only Liability values(1,2,3) since we have another column for 

#policy type that includes values as special, corporate, personal

In [24]:
categorical_df.Policy = categorical_df.Policy.str.replace('Special L', '') \
    .str.replace('Personal L', '') \
        .str.replace('Corporate L', '')

In [25]:
print(categorical_df)

     Customer       State Response  Coverage Education Effective To Date  \
0     BU79786  Washington       No     Basic  Bachelor           2/24/11
1     QZ44356     Arizona       No  Extended  Bachelor           1/31/11
2     AI49188      Nevada       No   Premium  Bachelor           2/19/11
3     WW63253  California       No     Basic  Bachelor           1/20/11
4     HB64268  Washington       No     Basic  Bachelor            2/3/11
...       ...         ...      ...       ...       ...               ...
9129  LA72316  California       No     Basic  Bachelor           2/10/11
9130  PK87824  California      Yes  Extended   College           2/12/11
9131  TD14365  California       No  Extended  Bachelor            2/6/11
9132  UP19263  California       No  Extended   College            2/3/11
9133  Y167826  California       No  Extended   College           2/14/11

     EmploymentStatus Gender Location Code Marital Status     Policy Type  \
0            Employed      F      Suburban        Married  Corporate Auto
1          Unemployed      F      Suburban         Single   Personal Auto
2            Employed      F      Suburban        Married   Personal Auto
3          Unemployed      M      Suburban        Married  Corporate Auto
4            Employed      M         Rural         Single   Personal Auto
...               ...    ...           ...            ...             ...
9129         Employed      M         Urban        Married   Personal Auto
9130         Employed      F      Suburban       Divorced  Corporate Auto
9131       Unemployed      M      Suburban         Single  Corporate Auto
9132         Employed      M      Suburban        Married   Personal Auto
9133       Unemployed      M      Suburban         Single  Corporate Auto

     Policy Renew Offer Type Sales Channel  Vehicle Class Vehicle Size
0         3           Offer1         Agent   Two-Door Car      Medsize
1         3           Offer3         Agent  Four-Door Car      Medsize
2         3           Offer1         Agent   Two-Door Car      Medsize
3         2           Offer1   Call Center            SUV      Medsize
4         1           Offer1         Agent  Four-Door Car      Medsize
...     ...              ...           ...            ...          ...
9129      1           Offer2           Web  Four-Door Car      Medsize
9130      3           Offer1        Branch  Four-Door Car      Medsize
9131      2           Offer1        Branch  Four-Door Car      Medsize
9132      2           Offer3        Branch  Four-Door Car        Large
9133      3           Offer4   Call Center   Two-Door Car      Medsize

[9134 rows x 16 columns]

     Customer       State Response  Coverage Education Effective To Date  \
0     BU79786  Washington       No     Basic  Bachelor           2/24/11
1     QZ44356     Arizona       No  Extended  Bachelor           1/31/11
2     AI49188      Nevada       No   Premium  Bachelor           2/19/11
3     WW63253  California       No     Basic  Bachelor           1/20/11
4     HB64268  Washington       No     Basic  Bachelor            2/3/11
...       ...         ...      ...       ...       ...               ...
9129  LA72316  California       No     Basic  Bachelor           2/10/11
9130  PK87824  California      Yes  Extended   College           2/12/11
9131  TD14365  California       No  Extended  Bachelor            2/6/11
9132  UP19263  California       No  Extended   College            2/3/11
9133  Y167826  California       No  Extended   College           2/14/11

     EmploymentStatus Gender Location Code Marital Status     Policy Type  \
0            Employed      F      Suburban        Married  Corporate Auto
1          Unemployed      F      Suburban         Single   Personal Auto
2            Employed      F      Suburban        Married   Personal Auto
3          Unemployed      M      Suburban        Married  Corporate Auto
4            Employed      M         Rural         Single   Personal Auto
...               ...    ...           ...            ...             ...
9129         Employed      M         Urban        Married   Personal Auto
9130         Employed      F      Suburban       Divorced  Corporate Auto
9131       Unemployed      M      Suburban         Single  Corporate Auto
9132         Employed      M      Suburban        Married   Personal Auto
9133       Unemployed      M      Suburban         Single  Corporate Auto

            Policy Renew Offer Type Sales Channel  Vehicle Class Vehicle Size
0     Corporate L3           Offer1         Agent   Two-Door Car      Medsize
1      Personal L3           Offer3         Agent  Four-Door Car      Medsize
2      Personal L3           Offer1         Agent   Two-Door Car      Medsize
3     Corporate L2           Offer1   Call Center            SUV      Medsize
4      Personal L1           Offer1         Agent  Four-Door Car      Medsize
...            ...              ...           ...            ...          ...
9129   Personal L1           Offer2           Web  Four-Door Car      Medsize
9130  Corporate L3           Offer1        Branch  Four-Door Car      Medsize
9131  Corporate L2           Offer1        Branch  Four-Door Car      Medsize
9132   Personal L2           Offer3        Branch  Four-Door Car        Large
9133  Corporate L3           Offer4   Call Center   Two-Door Car      Medsize

[9134 rows x 16 columns]

In [ ]:
#7. Would you choose to do anything else to clean or wrangle the categorical data?  Comment your decisions.

In [ ]:
#I would change the columns that were changed in previous lab and continue the cleaning for the policy case. 
In employement status I would maybe change for 0/1.

In [ ]:
#8.and #9

In [ ]:
#Policy has values from policy type and the liability, which was changed to show only liability values in the previous question